header {
  width: 100vw;
}
 .nav {
  z-index: 5;
  width: 360px;
  position: absolute;
  left: 150px;
  top: 30px;
  font-family: 'Merienda';

  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
  }
  &_item {
    position: relative;    
    transition: .3s all ease-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      font-weight: 700;
    }
    &::before {
      content: url('../../icon//double_bean.svg');
      position: absolute;
      left: -35px;
      top: -20px;
      display: none;
    }
  }
  }

.active {
  &:before {
    display: block;
  }
}

footer { 
  padding: 50px 0 ;
  position: relative;
  .nav {
    position:static;
    a {
      color: #000000;
    }
      &_item {
        &::before {
          content: url('../../icon//double_bean_black.svg');
        }
      }
    }
    .beans_icon_black {
      margin-top: 30px;
    }
}

